@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #191A23;
  --color-dark-alt: #292A32;
  --color-light: #FFFFFF;
  --color-accent: #B9FF66;
  --color-gray: #F3F3F3;
  --color-gray-alt: #898989;
  --border: 1px solid var(--color-dark);
  --border-radius: 14px;
  --border-radius-small: 7px;
  --border-radius-large: 45px;
  --shadow: 0 5px 0 0 var(--color-dark);
  --font-family-base: "Space Grotesk", sans-serif;
  --container-width: 1240px;
  --container-padding-x: 20px;
  --section-padding-y: 70px;
  --input-height: 59px;
  --button-height: 68px;
  --transition-duration: 0.2s;
}
@media (max-width: 1280px) {
  :root {
    --section-padding-y: 50px;
  }
}
@media (max-width: 767px) {
  :root {
    --section-padding-y: 30px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 1.25vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1, .h1 {
  font-size: clamp(43px, 4.1666666667vw, 60px);
}

h2, .h2 {
  font-size: clamp(36px, 2.7777777778vw, 40px);
}

h3, .h3 {
  font-size: clamp(26px, 2.0833333333vw, 30px);
}

h4, .h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

.field {
  --fieldInputHeight: var(--input-height);
  --fieldInputTextColor: var(--color-dark);
  --fieldInputBgColor: var(--color-light);
  --fieldInputBorderColor: var(--color-dark);
  --fieldInputPlaceholderColor: var(--color-dark-alt);
  --fieldInputHoverBgColor: var(--color-accent);
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;
}
@media (max-width: 767px) {
  .field {
    row-gap: 10px;
  }
}
.field--big-height {
  --fieldInputHeight: var(--button-height);
}
.field--dark-bg {
  --fieldInputTextColor: var(--color-accent);
  --fieldInputBgColor: var(--color-dark-alt);
  --fieldInputBorderColor: var(--color-light);
  --fieldInputPlaceholderColor: var(--color-light);
  --fieldInputHoverBgColor: var(--color-dark);
}
.field__label {
  font-size: clamp(14px, 1.1111111111vw, 16px);
}
.field__input {
  width: 100%;
  height: var(--fieldInputHeight);
  padding-inline: 30px;
  color: var(--fieldInputTextColor);
  background-color: var(--fieldInputBgColor);
  border: 1px solid var(--fieldInputBorderColor);
  border-radius: var(--border-radius);
}
@media (hover: hover) {
  .field__input:hover {
    background-color: var(--fieldInputHoverBgColor);
  }
}
@media (hover: none) {
  .field__input:active {
    background-color: var(--fieldInputHoverBgColor);
  }
}
@media (max-width: 767px) {
  .field__input {
    padding-inline: 20px;
  }
}
.field__input:focus {
  border-color: var(--color-accent);
  outline: none;
}
.field__input::placeholder {
  color: var(--fieldInputPlaceholderColor);
}
.field__input--textarea {
  height: 190px;
  padding-block: 18px;
  resize: none;
}
@media (max-width: 767px) {
  .field__input--textarea {
    height: 132px;
  }
}

.radios {
  display: flex;
  column-gap: 35px;
}

.radio {
  display: flex;
  align-items: center;
  column-gap: 14px;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .radio:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .radio:active {
    opacity: 0.6;
  }
}
.radio__input:not(:checked) + .radio__emulator::after {
  opacity: 0;
}
.radio__emulator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  aspect-ratio: 1;
  position: relative;
  background-color: var(--color-light);
  border: var(--border);
  border-radius: 50%;
}
.radio__emulator::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 60%;
  aspect-ratio: 1;
  content: "";
  background-color: var(--color-accent);
  border-radius: inherit;
  transition-duration: var(--transition-duration);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding-inline: 35px;
  font-size: 20px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: var(--border-radius);
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-dark);
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-dark);
    background-color: var(--color-accent);
  }
}
.button--transparent {
  color: var(--color-dark);
  background-color: transparent;
}
.button--accent {
  color: var(--color-dark);
  background-color: var(--color-accent);
}
@media (hover: hover) {
  .button--accent:hover {
    color: var(--color-accent);
    background-color: var(--color-dark);
  }
}
@media (hover: none) {
  .button--accent:active {
    color: var(--color-accent);
    background-color: var(--color-dark);
  }
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 40px;
}
@media (max-width: 767px) {
  .grid {
    gap: 30px;
  }
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media (max-width: 1023px) {
  .grid--2 {
    --gridColumns: 1;
  }
}
@media (max-width: 1280px) {
  .grid--3 {
    --gridColumns: 2;
  }
}
@media (max-width: 767px) {
  .grid--3 {
    --gridColumns: 1;
  }
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-accent);
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
  box-shadow: 0 -8px, 0 8px;
}

.header {
  padding-top: 60px;
}
@media (max-width: 1280px) {
  .header {
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 15px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}
@media (max-width: 1023px) {
  .header__inner {
    column-gap: 30px;
  }
}
@media (max-width: 1023px) {
  .header__logo {
    max-width: 120px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    max-width: 144px;
  }
}
.header__menu {
  margin-left: auto;
  font-size: 20px;
}
@media (max-width: 1280px) {
  .header__menu {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .header__menu {
    font-size: 16px;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
@media (max-width: 1280px) {
  .header__menu-list {
    column-gap: 20px;
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 48px;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}
.header__button {
  height: 48px;
  padding-inline: 18px;
  font-size: 16px;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-accent);
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 14px 20px;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}

.section {
  padding-block: var(--section-padding-y);
}
.section--hidden-x {
  overflow-x: hidden;
}
.section__header {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
@media (max-width: 767px) {
  .section__header {
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
  }
}
.section__header:not(:last-child) {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .section__header:not(:last-child) {
    margin-bottom: 40px;
  }
}
.section__description {
  max-width: 580px;
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-padding-y);
}
@media (max-width: 1280px) {
  .hero {
    row-gap: 60px;
  }
}
.hero__main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 30px;
}
@media (max-width: 767px) {
  .hero__main {
    flex-direction: column;
  }
}
.hero__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 531px;
  row-gap: 35px;
}
@media (max-width: 767px) {
  .hero__body {
    display: contents;
  }
}
@media (max-width: 767px) {
  .hero__title {
    order: -2;
    margin-bottom: 10px;
  }
}
.hero__description {
  font-size: 20px;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .hero__description {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .hero__button {
    width: 100%;
    max-width: 390px;
    margin-inline: auto;
  }
}
.hero__partners-list {
  display: flex;
  justify-content: space-between;
  column-gap: 37px;
}
@media (max-width: 1023px) {
  .hero__partners-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }
}
@media (max-width: 480px) {
  .hero__partners-list {
    --heroPartnersWidthOffsetX: 60px;
    column-gap: 0;
    width: calc(100vw + var(--heroPartnersWidthOffsetX) * 2);
    margin-left: calc((var(--heroPartnersWidthOffsetX) + var(--container-padding-x)) * -1);
  }
}
@media (max-width: 1023px) {
  .hero__partners-item {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .hero__partners-item {
    justify-content: start;
  }
  .hero__partners-item:nth-child(-n+3) {
    justify-content: end;
  }
}
.hero__partners-image {
  filter: grayscale(1);
}
@media (max-width: 1023px) {
  .hero__image {
    max-width: 40%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .hero__image {
    order: -1;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.puddle-bg {
  padding-inline: 7px;
  background-color: var(--color-accent);
  border-radius: var(--border-radius-small);
}
.puddle-bg--light {
  background-color: var(--color-light);
}

.services__list:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .services__list:not(:last-child) {
    margin-bottom: 70px;
  }
}

.service-card {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  min-height: 310px;
  padding: 50px;
  background-color: var(--color-gray);
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);
}
@media (max-width: 767px) {
  .service-card {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 27px;
  }
}
.service-card--accent-bg {
  background-color: var(--color-accent);
}
.service-card--dark-bg {
  background-color: var(--color-dark);
}
.service-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}
@media (max-width: 767px) {
  .service-card__body {
    display: contents;
  }
}
.service-card__image {
  align-self: center;
}
@media (max-width: 1280px) {
  .service-card__image {
    max-width: 50%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .service-card__image {
    max-width: 165px;
  }
}
.service-card__title {
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 767px) {
  .service-card__title {
    grid-column: -1/1;
  }
}
.service-card__link {
  --serviceCardLinkIconColor: var(--color-accent);
  display: inline-flex;
  align-items: center;
  column-gap: 15px;
  font-size: 20px;
}
@media (hover: hover) {
  .service-card__link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .service-card__link:active {
    opacity: 0.7;
  }
}
@media (max-width: 767px) {
  .service-card__link {
    align-self: end;
  }
}
.service-card__link--light {
  --serviceCardLinkIconColor: var(--color-dark);
  color: var(--color-light);
}
.service-card__link-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}
.service-card__link-icon-wrapper svg {
  color: var(--serviceCardLinkIconColor);
}
@media (max-width: 767px) {
  .service-card__link-label {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}

.banner {
  --bannerImageOffsetY: 24px;
  padding-block: var(--bannerImageOffsetY);
}
@media (max-width: 1023px) {
  .banner {
    --bannerImageOffsetY: 0;
  }
}
.banner__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray);
  border-radius: var(--border-radius-large);
}
.banner__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 26px;
  padding: 60px;
}
@media (max-width: 1023px) {
  .banner__body {
    padding: 50px;
  }
}
@media (max-width: 767px) {
  .banner__body {
    row-gap: 20px;
  }
}
.banner__description {
  max-width: 500px;
}
.banner__image {
  margin-block: calc(var(--bannerImageOffsetY) * -1);
}
@media (max-width: 1023px) {
  .banner__image {
    max-width: 40%;
    height: auto;
  }
}

@media (min-width: 1281px) {
  .studies {
    padding: 70px 60px;
  }
}
@media (min-width: 768px) {
  .studies {
    padding: 40px;
    color: var(--color-light);
    background-color: var(--color-dark);
    border-radius: var(--border-radius-large);
  }
}
.studies__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 767px) {
  .studies__list {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    width: 100vw;
    column-gap: 20px;
  }
}
.studies__item {
  --studiesItemPaddingX: 64px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (max-width: 1280px) {
  .studies__item {
    --studiesItemPaddingX: 32px;
  }
}
@media (min-width: 768px) {
  .studies__item:not(:first-child) {
    padding-left: var(--studiesItemPaddingX);
  }
  .studies__item:not(:last-child) {
    padding-right: var(--studiesItemPaddingX);
    border-right: 1px solid var(--color-light);
  }
}
@media (max-width: 767px) {
  .studies__item {
    min-width: 350px;
    padding: 42px 50px;
    color: var(--color-light);
    background-color: var(--color-dark);
    border-radius: var(--border-radius-large);
    scroll-snap-align: start;
  }
}
.studies__link {
  display: inline-flex;
  align-items: center;
  column-gap: 15px;
  font-size: 20px;
  line-height: 1.4;
  color: var(--color-accent);
}
@media (hover: hover) {
  .studies__link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .studies__link:active {
    opacity: 0.7;
  }
}

.process__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  counter-reset: custom-counter;
  list-style: none;
}
@media (max-width: 767px) {
  .process__list {
    row-gap: 20px;
  }
}
.process__item {
  --counterContent: counter(custom-counter);
  counter-increment: custom-counter;
}
.process__item:nth-child(-n+9) {
  --counterContent: "0" counter(custom-counter);
}
.process__accordion {
  --indicatorVerticalRotate: 90deg;
  padding: 40px 60px;
  background-color: var(--color-gray);
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .process__accordion:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .process__accordion:active {
    background-color: var(--color-accent);
  }
}
@media (max-width: 767px) {
  .process__accordion {
    padding: 30px;
  }
}
.process__accordion[open] {
  --indicatorVerticalRotate: 0deg;
  background-color: var(--color-accent);
}
.process__accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  cursor: pointer;
  user-select: none;
}
@media (max-width: 767px) {
  .process__accordion-header {
    column-gap: 28px;
  }
}
.process__accordion-title {
  font-size: clamp(18px, 2.0833333333vw, 30px);
  display: flex;
  align-items: center;
  column-gap: 25px;
}
@media (max-width: 767px) {
  .process__accordion-title {
    column-gap: 33px;
  }
}
.process__accordion-title::before {
  content: var(--counterContent);
  font-size: 2em;
}
@media (max-width: 767px) {
  .process__accordion-title::before {
    font-size: 30px;
  }
}
.process__accordion-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  aspect-ratio: 1;
  flex-shrink: 0;
  position: relative;
  background-color: var(--color-gray);
  border: var(--border);
  border-radius: 50%;
}
@media (max-width: 767px) {
  .process__accordion-indicator {
    width: 30px;
  }
}
.process__accordion-indicator::before, .process__accordion-indicator::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 45%;
  height: 10%;
  background-color: var(--color-dark);
}
.process__accordion-indicator::after {
  rotate: var(--indicatorVerticalRotate);
  transition-duration: var(--transition-duration);
}
.process__accordion-body {
  margin-top: 30px;
  padding-top: 30px;
  border-top: var(--border);
}

.team {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.team__button {
  align-self: end;
  min-width: 269px;
}
@media (max-width: 480px) {
  .team__button {
    width: 100%;
  }
}

.team-card {
  height: 100%;
  padding: 40px 35px;
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);
}
@media (max-width: 767px) {
  .team-card {
    padding-inline: 50px;
  }
}
.team-card__header {
  display: flex;
}
.team-card__image:not(:last-child) {
  margin-right: 20px;
}
.team-card__info {
  align-self: end;
}
.team-card__info:not(:last-child) {
  margin-right: 10px;
}
.team-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  aspect-ratio: 1;
  flex-shrink: 0;
  align-self: start;
  margin-left: auto;
  color: var(--color-accent);
  background-color: var(--color-dark);
  border-radius: 50%;
}
.team-card__name:not(:last-child) {
  margin-bottom: 3px;
}
.team-card__body {
  --teamCardBodyMarginTop: 28px;
  margin-top: var(--teamCardBodyMarginTop);
  padding-top: var(--teamCardBodyMarginTop);
  border-top: var(--border);
}
@media (max-width: 767px) {
  .team-card__body {
    --teamCardBodyMarginTop: 20px;
  }
}

.pagination__list {
  display: flex;
}
.pagination__button {
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  aspect-ratio: 1;
  color: var(--color-light);
}
@media (hover: hover) {
  .pagination__button:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .pagination__button:active {
    color: var(--color-accent);
  }
}
.pagination__button.is-current {
  color: var(--color-accent);
}

.reviews {
  display: flex;
  flex-direction: column;
  row-gap: 110px;
  padding-top: 84px;
  padding-bottom: 54px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);
  overflow-x: hidden;
}
@media (max-width: 1023px) {
  .reviews {
    padding: 30px 30px 46px;
    row-gap: 46px;
  }
}
.reviews__slider {
  --reviewsSliderSlideWidth: 606px;
}
@media (max-width: 1023px) {
  .reviews__slider {
    --reviewsSliderSlideWidth: 330px;
  }
}
.reviews__slider-list {
  display: flex;
  column-gap: 50px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}
@media (min-width: 1024px) {
  .reviews__slider-list {
    margin-left: calc(var(--reviewsSliderSlideWidth) / 2 * -1);
  }
}
@media (max-width: 1023px) {
  .reviews__slider-list {
    column-gap: 30px;
  }
}
.reviews__slider-item {
  min-width: var(--reviewsSliderSlideWidth);
  scroll-snap-align: start;
}
.reviews__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 564px;
  margin-inline: auto;
}
.reviews__arrow-button {
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  aspect-ratio: 1;
  color: var(--color-light);
}
@media (hover: hover) {
  .reviews__arrow-button:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .reviews__arrow-button:active {
    color: var(--color-accent);
  }
}
.reviews__arrow-button[disabled] {
  color: var(--color-gray-alt);
  cursor: not-allowed;
}
.reviews__arrow-button svg {
  width: 20px;
  aspect-ratio: 1;
}

.review-card {
  --reviewCardCornerWidth: 40px;
  --reviewCardCornerOffsetLeft: 52px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
@media (max-width: 767px) {
  .review-card {
    --reviewCardCornerWidth: 32px;
    --reviewCardCornerOffsetLeft: 46px;
    row-gap: 44px;
  }
}
.review-card__body {
  position: relative;
  padding: 48px var(--reviewCardCornerOffsetLeft) 52px;
  border: 1px solid var(--color-accent);
  border-radius: var(--border-radius-large);
}
@media (max-width: 767px) {
  .review-card__body {
    padding: 30px;
  }
}
.review-card__body::after {
  width: var(--reviewCardCornerWidth);
  aspect-ratio: 1;
  content: "";
  position: absolute;
  top: 100%;
  left: var(--reviewCardCornerOffsetLeft);
  background-color: var(--color-dark);
  border: inherit;
  rotate: 45deg;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  translate: 0 -50%;
}
.review-card__footer {
  display: flex;
  flex-direction: column;
  padding-left: calc(var(--reviewCardCornerOffsetLeft) + var(--reviewCardCornerWidth) / 2);
}
.review-card__name, .review-card__company {
  font-style: normal;
}
.review-card__name {
  color: var(--color-accent);
}

.contact-us {
  position: relative;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .contact-us {
    padding: 60px 100px 80px;
    background-color: var(--color-gray);
    border-radius: var(--border-radius-large);
  }
}
.contact-us::after {
  --contactUsImageOffsetY: 62px;
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  translate: -50% -50%;
  height: calc(100% - var(--contactUsImageOffsetY) * 2);
  aspect-ratio: 1;
  background: url("../../images/contact-us-bg.svg") center/contain no-repeat;
}
@media (max-width: 1023px) {
  .contact-us::after {
    display: none;
  }
}
.contact-us__form, .contact-us__body {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .contact-us__request-types, .contact-us__body {
    background-color: var(--color-gray);
  }
}
@media (max-width: 767px) {
  .contact-us__request-types {
    padding: 40px 52px 36px;
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  }
}
@media (min-width: 1024px) {
  .contact-us__form {
    max-width: 556px;
  }
}
@media (min-width: 768px) {
  .contact-us__form {
    row-gap: 40px;
  }
}
.contact-us__body {
  row-gap: 25px;
}
@media (max-width: 767px) {
  .contact-us__body {
    row-gap: 20px;
    margin-bottom: 30px;
    padding: 10px 30px 50px;
    border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
  }
}

.soc1als__list {
  display: flex;
  column-gap: 20px;
}
.soc1als__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1;
  color: var(--color-dark);
  background-color: var(--color-light);
  border-radius: 50%;
}
@media (hover: hover) {
  .soc1als__link:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .soc1als__link:active {
    background-color: var(--color-accent);
  }
}
.soc1als__link svg {
  width: 50%;
  height: 50%;
}

.subscribe-form {
  display: flex;
  column-gap: 20px;
  padding: 58px 40px;
  background-color: var(--color-dark-alt);
  border-radius: var(--border-radius);
}
@media (max-width: 1280px) {
  .subscribe-form {
    flex-direction: column;
    row-gap: 22px;
    width: 100%;
    max-width: 450px;
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-inline: 0;
  }
}
.footer__inner {
  padding: 55px 60px 50px;
  color: var(--color-light);
  background-color: var(--color-dark);
}
@media (min-width: 768px) {
  .footer__inner {
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  }
}
@media (max-width: 767px) {
  .footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 37px;
    padding: 50px var(--container-padding-x) 30px;
  }
}
.footer__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
@media (max-width: 1023px) {
  .footer__navigation {
    flex-direction: column;
    align-items: center;
    row-gap: 37px;
  }
}
@media (max-width: 767px) {
  .footer__navigation {
    display: contents;
  }
}
.footer__navigation:not(:last-child) {
  margin-bottom: 66px;
}
.footer__menu-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
@media (max-width: 767px) {
  .footer__menu-list {
    flex-direction: column;
    row-gap: 15px;
  }
}
.footer__menu-link {
  display: inline-flex;
  align-items: center;
  height: 30px;
  text-decoration: underline;
}
@media (hover: hover) {
  .footer__menu-link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .footer__menu-link:active {
    color: var(--color-accent);
  }
}
@media (max-width: 767px) {
  .footer__soc1als {
    order: 1;
  }
}
.footer__body {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}
@media (min-width: 768px) {
  .footer__body:not(:last-child) {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid currentColor;
  }
}
@media (max-width: 767px) {
  .footer__body {
    flex-direction: column;
    align-items: center;
    row-gap: inherit;
  }
}
@media (max-width: 480px) {
  .footer__body {
    width: 100%;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 27px;
}
@media (max-width: 767px) {
  .footer__contacts {
    align-items: center;
    text-align: center;
  }
}
.footer__contacts-title {
  color: var(--color-dark);
}
.footer__contacts-body {
  font-style: normal;
}
.footer__contacts-body p {
  --paragraphMarginBottom: 20px;
}
@media (hover: hover) {
  .footer__contacts-body a:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .footer__contacts-body a:active {
    color: var(--color-accent);
  }
}
.footer__extra {
  display: flex;
  column-gap: 40px;
}
@media (max-width: 767px) {
  .footer__extra {
    order: 2;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    width: 100%;
    padding-top: 37px;
    border-top: 1px solid currentColor;
  }
}
.footer__privacy-policy-link {
  text-decoration: underline;
}
@media (hover: hover) {
  .footer__privacy-policy-link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .footer__privacy-policy-link:active {
    color: var(--color-accent);
  }
}

/*# sourceMappingURL=styles.css.map */
